<div class="modal-header">
    <h4 class="modal-title">Contactor Information</h4>
</div>
<div class="modal-body">
    <div style="">
        <div class="row" style="margin:10px">
            <label class="col-md-2 control-label">Site Use ID: </label>
            <div class="col-md-4">
                <input type="text" id="SiteUseId" class="form-control input-sm" name="SiteUseId" ng-model="siteUseId" />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-default" style="width:110px" value="Search" ng-click="search()" />
            </div>
        </div>
        <div class="row" style="margin:10px">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row" style="margin:10px">
            <div class="col-md-12">
                <div style="height:210px;" ui-grid="contactList" ui-grid-resize-columns ui-grid-selection>
                </div>
            </div>
        </div>
        <div class="row" style="margin:10px">
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" ng-click="closeContact()" style="">Close</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary save" ng-click="saveContact()" style="">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
