<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="IsMail" value="true" />
    <add key="IsDev" value="true" />
    <add key="MailAttachmentPath" value="C:\ArchiveMailAttachment\" />
    <add key="ArchiveMailPath" value="C:\ArchiveMailFileSave" />
    <add key="ArchiveSentMailPath" value="C:\ArchiveSentMailFileSave" />
    <add key="MailserviceEndPoint" value="https://xccelerator.accenture.com/OTC/MailService/" />
    <add key="OTC" value="http://vrtdlcws2001:8090/OTC/Site" />
  </appSettings>
  <connectionStrings>
    <add name="OTCEntities" connectionString="metadata=res://*/DataModel.OTCEntities.csdl|res://*/DataModel.OTCEntities.ssdl|res://*/DataModel.OTCEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vrtdlcws2002;initial catalog=OTC;persist security info=True;user id=sa;password=Zaq12wsx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XcceleratorEntities" connectionString="metadata=res://*/DataModel.XcceleratorEntities.csdl|res://*/DataModel.XcceleratorEntities.ssdl|res://*/DataModel.XcceleratorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vrtdlcws2002;initial catalog=Xccelerator_OTC_DEV;user id=sa;password=Zaq12wsx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OTCDB" providerName="System.Data.SqlClient" connectionString="data source=vrtdlcws2002;initial catalog=OTC;persist security info=True;user id=sa;password=Zaq12wsx;" />
  </connectionStrings>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="~/Configuration/Spring.xml" />
    </context>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1" newVersion="4.5.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>