/Bulkinsert/EntityFramework.BulkInsert/obj
/Bulkinsert/EntityFramework.BulkInsert/bin
/Bulkinsert/EntityFramework.MappingAPI/bin
/Bulkinsert/EntityFramework.MappingAPI/obj
/Intelligent.OTC.Business/obj
/Intelligent.OTC.Business/bin
/Intelligent.OTC.Common/bin
/Intelligent.OTC.Common/obj
/Intelligent.OTC.Domain/obj
/Intelligent.OTC.Domain/bin
/Intelligent.OTC.Job/obj
/Intelligent.OTC.Job/bin
/Intelligent.OTC.MailService/bin
/Intelligent.OTC.MailService/obj
/Intelligent.OTC.RemoteScheduler/obj
/Intelligent.OTC.RemoteScheduler/bin
/Intelligent.OTC.TimerJob/obj
/Intelligent.OTC.TimerJob/bin
/Intelligent.OTC.WebApi/bin
/Intelligent.OTC.WebApi/obj
/Intelligent.OTC.WebApi/Logs
/.vs
