<div class="control-label col-md-2">
    <editpartial controller-name='floatmenuListCtrl' template-url='app/common/floatmenu/floatMenu-list.tpl.html' params='floatMenuOwner' callback="init()"></editpartial>
</div>
<div class="form-group col-md-10" style="padding-left:0px; padding-right:0px;">
    <!--<label style="width:100px; font-size:inherit; text-align:center;cursor:pointer;" ng-click="batchsend()" ng-show="lblbatch">Batch Send SOA</label>-->
    <!--<label style="width:100px; font-size:inherit; text-align:center;cursor:pointer;" ng-click="openSoa()" ng-show="lblexecute">Execute</label>-->
    <div style="height:30px; margin-bottom:10px;">
        <div class="dropdown" style="float:left">
            <button class="btn-soadrop dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{dropdownvalue}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <!--<li id="libatch"><a href="" ng-click="changetab('batch')">Batch Send SOA</a></li>-->
                <li class="active" id="liexecute">
                    <a href="" ng-click="changetab('execute')">Not Start</a>
                </li>
                <li id="lidone"><a href="" ng-click="changetab('done')">Work in Progress</a></li>
                <li id="licomplete"><a href="" ng-click="changetab('complete')">Work Completed</a></li>
            </ul>
        </div>
        <!--<div style="float:left" ng-show="lblbatch">
            <button type="button" class="btn-filter" style="width:140px" ng-click="batchsend()">
                <img src="~/../Content/images/Execute.png" />&nbsp;&nbsp;Batch Send SOA
            </button>
        </div>-->
        <!--<div style="float:left" ng-show="lblexecute">
            <button type="button" class="btn-filter" ng-click="openSoa()">
                <img src="~/../Content/images/Execute.png" />&nbsp;&nbsp;Execute
            </button>
        </div>-->
        <div style="float:right" ng-show="lblfilter">
            <button type="button" class="btn-filter" ng-click="openFilter()">
                <img src="~/../Content/images/Search.png" />&nbsp;&nbsp;Search
            </button>
        </div>
    </div>
    <div id="divAgingSearch" class="tag col-md-12" style="display:none">
        <em></em>
        <div class="row" style="height:5px"></div>
        <div class="form-group col-md-12">
            <div class="row">
                <div style="float:left; padding-right:10px;">
                    <label for="inputCustCode" style="font-size:12px;">
                        Customer Code
                    </label>
                    <div style="width:180px">
                        <input id="inputCustCode" class="form-control input-sm" ng-model="custCode" />
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <label for="inputCustName" style="font-size:12px;">
                        Customer Name
                    </label>
                    <div style="width:180px">
                        <input id="inputCustName" class="form-control input-sm" ng-model="custName" />
                    </div>
                </div>
                <div style="float:left">
                    <label for="inputCustClass" style="font-size:12px;">
                        Customer Class
                    </label>
                    <div style="width:180px; padding-right:10px;">
                        <select id="Class" class="form-control input-sm" ng-model="class" ng-options="c.detailName as c.detailName for c in cusclass">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <!--2016-01-05-->
                <div style="float:left; padding-right:10px;">
                    <div style="float:left; padding-right:10px;">
                        <label for="inputLegal" style="font-size:12px;">
                            Legal Entity
                        </label>
                        <div style="width:170px">
                            <select id="Legal" class="form-control input-sm" ng-model="legal" ng-options="d.legalEntity as d.legalEntity for d in legallist">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <!--<label for="inputbillGroupName" style="font-size:12px;">
                        Factory Group Name
                    </label>
                    <div style="width:180px">
                        <input id="inputbillGroupName" class="form-control input-sm" ng-model="billGroupName" />
                    </div>-->
                    <label for="inputSiteUserId" style="font-size:12px;">
                        Site User Id
                    </label>
                    <div style="width:180px">
                        <input id="inputSiteUserId" class="form-control input-sm" ng-model="SiteUserId" />
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <label for="inputInvoiceStates" style="font-size:12px;">
                        Invoice Status
                    </label>
                    <div style="width:170px">
                        <select id="inputInvoiceStates" class="form-control input-sm" ng-model="states" ng-options="a.detailValue as a.detailName for a in istatuslist">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div style="float:left;">
                    <label for="inputInvoiceTrackStates" style="font-size:12px;">
                        Invoice Track Status
                    </label>
                    <div style="width:180px">
                        <select id="inputInvoiceTrackStates" class="form-control input-sm" ng-model="trackStates" ng-options="a.detailValue as a.detailName for a in invoiceTrackStates">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <label for="inputInvoiceNum" style="font-size:12px;">
                        Invoice Num
                    </label>
                    <div style="width:180px">
                        <input id="inputInvoiceNum" class="form-control input-sm" ng-model="invoiceNum" />
                    </div>
                </div>
                <!--2016-01-05-->
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="row">
                <div style="float:left; padding-right:10px;">
                    <label for="inputSoNum" style="font-size:12px;">
                        SO Num
                    </label>
                    <div style="width:180px">
                        <input id="inputSoNum" class="form-control input-sm" ng-model="soNum" />
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <label for="inputPoNum" style="font-size:12px;">
                        PO Num
                    </label>
                    <div style="width:180px">
                        <input id="inputPoNum" class="form-control input-sm" ng-model="poNum" />
                    </div>
                </div>
                <div style="float:left; padding-right:10px;">
                    <label for="inputInvoiceMemo" style="font-size:12px;">
                        Invoice Memo
                    </label>
                    <div style="width:180px">
                        <input id="inputInvoiceMemo" class="form-control input-sm" ng-model="invoiceMemo" />
                    </div>
                </div>
                <!--<div style="float:left; padding-right:10px;">
                    <label for="inputStatus" style="font-size:12px;">
                        Customer Status
                    </label>
                    <div style="width:180px">
                        <select id="inputStatus" class="form-control input-sm" ng-model="status" ng-options="a.detailName as a.detailName for a in cusstatus">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>-->


            </div>
        </div>
        <!--2016-01-25 add by pxc -->
        <div class="form-group col-md-12">
            <div class="row">
                <div style="float:right">
                    <label style="height:12px"></label>
                    <div>
                        <button type="button" class="filter-button" ng-click="resetSearch()">
                            Clear
                        </button>
                        <button type="button" class="filter-button" ng-click="searchCollection()">
                            Search
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="divFinishSearch" class="form-group col-md-12" style="display:none;border:1px solid;border-color:#000;">
        <div class="row">
            <label class="control-label" style="font-size:inherit;width:200px;">Period:  </label>
            <select id="Period" style="height:20px;width:200px;" ng-model="period" ng-options="a.id as a.period for a in periodlist" ng-change="periodchange()"></select>
            <!--<input type="button" class="btn-default" style="width:109px;height:24px;vertical-align:top;" value="search" ng-click="" />-->
        </div>
    </div>

    <!--batch-->
    <div ng-if="divbatch">
        <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
            <div class="grid-style" ui-grid="batchList" ui-grid-resize-columns ui-grid-selection>
            </div>
        </div>
        <!--paging-->
        <!--<div class="form-group col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <select id="psbatch" name="psbatch" ng-model="slbatch" ng-options="s.id as s.levelName for s in levelList"
                        ng-change="pschangebatch(slbatch)" class="form-control input-sm" style="margin-top: 20px; margin-bottom: 20px;">
                    </select>
                </div>
                <pagination max-size="maxSize" items_per_page="iperbatch" total-items="ttbatch"
                    ng-model="curpbatch" ng-change="batchpChanged(curpbatch)" class="pagination-sm" boundary-links="true"></pagination>
            </div>
        </div>-->
    </div>
    <!--complete-->
    <div ng-if="divcomplete">
        <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
            <div class="grid-style" ui-grid="completeList" ui-grid-resize-columns>
            </div>
        </div>
    </div>
    <!--execute-->
    <div ng-show="divexecute">
        <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
            <div class="grid-style" ui-grid="executeList" ui-grid-resize-columns ui-grid-selection>
                <!--<div class="footer-statistics">
                    <div style="float:right">
                        <label style="padding-right:20px">Total A/R Balance:<span id="totalBalance" style="color:#2e2e2e">${{totalARBalance | number:2}}</span></label>
                        <label style="padding-right:20px">Total Past Due Amount:<span id="totalAmt" style="color:#2e2e2e">${{totalPastDueAmt | number:2}}</span></label>
                        <label style="padding-right:20px">Total Over 90 Days:<span id="totalOver" style="color:#2e2e2e">${{totalOver90Days | number:2}}</span></label>
                        <label style="padding-right:10px">Total Credit Limit:<span id="totalCredit" style="color:#2e2e2e">${{totalCreditLimit | number:2}}</span></label>
                    </div>
                </div>-->
            </div>
        </div>
        <!--paging-->
        <div class="form-group col-md-12">
            <div class="row">
                <div style="float:left; margin-right:20px;">
                    <label style="margin-top:27px; margin-bottom:14px; height:29px;">Show&nbsp;<span>{{fromItem}}</span>&nbsp;to&nbsp;<span>{{toItem}}</span>&nbsp;of&nbsp;<span>{{totalNum}}</span>&nbsp;items</label>
                </div>
                <div style="float:left">
                    <pagination max-size="maxSize" items_per_page="iperexecute" total-items="ttexecute"
                                ng-model="curpexecute" ng-change="executepChanged()" class="pagination-sm" boundary-links="true"></pagination>
                </div>
                <div style="float:right">
                    <div style="float:left">
                        <label style="margin-top: 27px; margin-bottom: 14px; margin-right:2px;">Page size:</label>
                    </div>
                    <div style="float:left">
                        <select id="psexecute" name="psexecute" ng-model="slexecute" ng-options="s.id as s.levelName for s in levelList"
                                ng-change="pschangeexecute(slexecute)" class="form-control input-sm" style="margin-top: 20px; margin-bottom: 20px;"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--done-->
    <div ng-if="divdone">
        <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
            <div class="grid-style" ui-grid="doneList" ui-grid-resize-columns>
                <!--<div class="footer-statistics">
                    <div style="float:right">
                        <label style="padding-right:20px">Total A/R Balance:<span id="totalBalance" style="color:#2e2e2e">${{totalARBalance | number:2}}</span></label>
                        <label style="padding-right:20px">Total Past Due Amount:<span id="totalAmt" style="color:#2e2e2e">${{totalPastDueAmt | number:2}}</span></label>
                        <label style="padding-right:20px">Total Over 90 Days:<span id="totalOver" style="color:#2e2e2e">${{totalOver90Days | number:2}}</span></label>
                        <label style="padding-right:10px">Total Credit Limit:<span id="totalCredit" style="color:#2e2e2e">${{totalCreditLimit | number:2}}</span></label>
                    </div>
                </div>-->
            </div>
        </div>
        <!--paging-->
        <div class="form-group col-md-12">
            <div class="row">
                <div style="float:left; margin-right:20px;">
                    <label style="margin-top:27px; margin-bottom:14px; height:29px;">Show&nbsp;<span>{{fromItem}}</span>&nbsp;to&nbsp;<span>{{toItem}}</span>&nbsp;of&nbsp;<span>{{totalNum}}</span>&nbsp;items</label>
                </div>
                <div style="float:left">
                    <pagination max-size="maxSize" items_per_page="iperdone" total-items="ttdone"
                                ng-model="curpdone" ng-change="donepChanged(curpdone)" class="pagination-sm" boundary-links="true"></pagination>
                </div>
                <div style="float:right">
                    <div style="float:left">
                        <label style="margin-top: 27px; margin-bottom: 14px; margin-right:2px;">Page size:</label>
                    </div>
                    <div style="float:left">
                        <select id="psdone" name="psdone" ng-model="sldone" ng-options="s.id as s.levelName for s in levelList"
                                ng-change="pschangedone(sldone)" class="form-control input-sm" style="margin-top: 20px; margin-bottom: 20px;"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--work-->
<!--<div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;" >
<div class="grid-style" ui-grid="collectSoaList" ui-grid-resize-columns ui-grid-selection>
    </div>
</div>-->
