<div class="modal-header">
    <h4 class="modal-title">Export Contactor</h4>
</div>

<div class="modal-body">

    <div class="row" style="margin:10px">
        <label class="control-label col-md-2">Customer No.: </label>
        <div class="col-md-4">
            <input type="text" id="CustomerCode" class="form-control input-sm" name="CustomerCode" ng-model="customerNum" />
        </div>
        <label class="control-label col-md-2">Name: </label>
        <div class="col-md-4">
            <input type="text" id="CustomerName" class="form-control input-sm" name="customerName" ng-model="name" />
        </div>
    </div>

    <div class="row" style="margin:10px">
        <label class="control-label col-md-2"> Site Use ID: </label>
        <div class="col-md-4">
            <input type="text" id="siteUseId" class="form-control input-sm" ng-model="siteUseId" />
        </div>
        <label class="control-label col-md-2">  Legal Entity: </label>
        <div class="col-md-4">
            <select id="legalEntity" class="form-control input-sm" ng-model="legalEntity" ng-options="a.legalEntity as a.legalEntity for a in legalEntityList">
                <option value="">All</option>
            </select>
        </div>
    </div>
    <div style="height:70px">
        <div style="float:right; margin-top:30px;">
            <button type="button" class="btn btn-primary" ng-click="close()" style="float:right; margin-left:5px;">Close</button>
            <button type="button" class="btn btn-warning" ng-click="reset()" style="float:right; margin-left:5px;">Clear</button>
            <button type="button" class="btn btn-primary" ng-click="exportExcel()" style="float:right;">Export</button>
        </div>
    </div>

</div>
