<div class="modal-header">
    <b>Confirm Dialog</b>
</div>
<div class="modal-body">
    <div>
        <b>Are you sure to delete</b>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="cancel()" style="float:right; margin-right:10px">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="confirm()" style="float:right; margin-right:10px">
            Confirm
        </button>
    </div>
</div>