<div class="panel-group" id="accordion">
    <div style="height:30px; margin-bottom:10px;">
        <div style="float:left;margin-right: 20px;">
            <img src="~/../Content/images/PrevHoverIcon.png" ng-click="goback()" style="height: 27px; margin-left: 10px;cursor:pointer" />
        </div>
        <div style="float:right">
            <div id="buttonMenu" class="btn-group" data-toggle="buttons" style="float:left; margin-left:10px; margin-top:0px;">
                <button class="btn-soadrop dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Action
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li id="Wave1"><a href="" ng-click="toUploadPage()">Upload Files</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave1"><a style="color:#ccc">Identify Customer</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave2"><a style="color:#ccc">PMT Detail Advisor</a></li>
                    <li id="Wave2"><a style="color:#ccc">Unknown Cash Advisor</a></li>
                    <li id="Wave2"><a style="color:#ccc">Unknown Adjustment</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave2"><a style="color:#ccc">Recon</a></li>
                    <li id="Wave2"><a style="color:#ccc">Recon Adjustment</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave2"><a style="color:#ccc">Request PMT Detail</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave2"><a style="color:#ccc">Post</a></li>
                    <li id="Wave2"><a style="color:#ccc">Clear</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave1"><a href="" ng-click="toTaskListPage()">Historical Task</a></li>
                    <li id="Wave1"><a href="" ng-click="actiontask()">Action Task</a></li>
                    <li style="border: 1px dashed #d4d4d4;"></li>
                    <li id="Wave1"><a href="" ng-click="unknownMatchExport()">Export</a></li>
                </ul>
            </div>
        </div>
        <div style="float:right">
            <!--<div id="buttonMenu" class="btn-group" data-toggle="buttons" style="float:left; margin-left:10px; margin-top:0px;">
            <button class="btn-soadrop dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Action
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li id="Wave1"><a href="" ng-click="toUploadPage()">Upload Files</a></li>
                <li id="Wave1"><a href="" ng-click="changetab('ptp')">Identify Customer</a></li>
                <li id="Wave2"><a href="" ng-click="clearPTP()">Unknown Cash Advisor</a></li>
                <li id="Wave2"><a href="" ng-click="clearPTP()">Recon</a></li>
                <li id="Wave2"><a href="" ng-click="clearPTP()">Adjustment</a></li>
                <li id="Wave2"><a href="" ng-click="clearPTP()">Export</a></li>
            </ul>
        </div>-->
            <button type="button" class="btn-filter" ng-click="sendMails()">
                <img src="~/../Content/images/SendMail.png" />&nbsp;&nbsp;Send
            </button>
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="grid-style" ui-grid="bankGidOptions" ui-grid-resize-columns ui-grid-selection ui-grid-move-columns ui-grid-pinning ui-grid-edit style="min-height:300px;height:300px;width:100%;max-width:1567px;">
        </div>
    </div>

    <!--<div class="form-group">
        <div class="col-md-12" style="">
            <div style="float:left;margin-right:20px">
                <label><input type="radio" name="gender" ng-model="type" ng-value="1" ng-checked="true" ng-change="typeChanged()">Like</label>
                <label><input type="radio" name="gender" ng-model="type" ng-value="2" ng-change="typeChanged()">All</label>
            </div>
        </div>
    </div>-->

    <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
        <div class="col-md-4" style="">
            <div class="form-group">
                <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
                    <div class="grid-style" ui-grid="gridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-move-columns ui-grid-pinning style="min-height:250px;height:250px;width:100%;max-width:1567px;">
                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-left:13px;">
                    <div class="row">
                        <div class="col-md-3">
                            <select id="pagesize" name="pagesize" ng-model="selectedLevel" ng-options="s.id as s.levelName for s in levelList"
                                    ng-change="pageSizeChange(selectedLevel)" class="form-control input-sm" style="margin-top: 20px; margin-bottom: 20px;">
                            </select>
                        </div>
                        <ul uib-pagination max-size="maxSize" items-per-page="itemsperpage" total-items="totalItems"
                            ng-model="currentPage" ng-change="pageChanged()"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8" style="">
            <div class="form-group">
                <div class="form-group col-md-12" style="padding-left:0px; padding-right:0px;">
                    <div class="grid-style" ui-grid="arGridOptions" ui-grid-resize-columns ui-grid-selection ui-grid-move-columns ui-grid-pinning style="min-height:250px;height:250px;width:100%;max-width:1567px;">
                    </div>
                </div>
                <div class="form-group col-md-12" style="margin-left:13px;">
                    <div class="row">
                        <!--<div class="col-md-2">
        <select id="pagesize" name="pagesize" ng-model="arSelectedLevel" ng-options="s.id as s.levelName for s in levelList"
                ng-change="arPageSizeChange(arSelectedLevel)" class="form-control input-sm" style="margin-top: 20px; margin-bottom: 20px;">
        </select>
    </div>-->
                        <!--<ul uib-pagination max-size="maxSize" items-per-page="arItemsperpage" total-items="arTotalItems"
        ng-model="arCurrentPage" ng-change="arPageChanged()"></ul>-->

                            <div style="float:right; margin:10px;font-size:12px;font-weight:700">
                                Total : <span>{{amtTotal | currency:""}}</span>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






