<div class="modal-header">
    <b>Confirm Dialog</b>
</div>
<div class="modal-body">
    <div>      
        <p>
            {{err}}
        </p>
        <b>
            If you continue to upload the file, we will insert the new group.
            Are you sure to continue the operation?<b>
</div>
</div>
<div class="modal-footer">
    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="cancel()" style="float:right; margin-right:10px">
            Cancel
        </button>
        <button type="button" class="btn btn-primary" ng-click="confirm()" style="float:right; margin-right:10px">
            Confirm
        </button>
    </div>
</div>