<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AE.Net.Mail" version="1.7.10.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Angular.UI.Bootstrap" version="2.5.0" targetFramework="net45" />
  <package id="AngularJS.Animate" version="1.5.9" targetFramework="net45" />
  <package id="AngularJS.Core" version="1.5.9" targetFramework="net45" />
  <package id="AngularJS.Resource" version="1.5.9" targetFramework="net45" />
  <package id="AngularJS.Route" version="1.5.9" targetFramework="net45" />
  <package id="AngularTranslate" version="2.6.1" targetFramework="net40" />
  <package id="angular-ui-grid" version="4.0.8" targetFramework="net45" />
  <package id="bootstrap" version="3.3.7" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Log4Net1213" version="3.4.1" targetFramework="net45" />
  <package id="CrystalQuartz.Owin" version="4.2.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFrameworkProfiler.Appender" version="4.0.4048" targetFramework="net45" />
  <package id="FontAwesome" version="4.4.0" targetFramework="net45" />
  <package id="Google.Apis" version="1.9.2" targetFramework="net40" />
  <package id="Google.Apis.Auth" version="1.9.2" targetFramework="net40" />
  <package id="Google.Apis.Core" version="1.9.2" targetFramework="net40" />
  <package id="Google.Apis.Gmail.v1" version="1.9.2.310" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.OData" version="5.7.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hans" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hans" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hans" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.OData.Core" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.OData.Edm" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Spatial" version="6.13.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" requireReinstallation="True" />
  <package id="ngGrid" version="2.0.14" targetFramework="net40" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Quartz" version="2.6.1" targetFramework="net45" />
  <package id="TinyMCE" version="4.1.10" targetFramework="net40" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net40" />
</packages>