<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="spring">
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="OTCScheduler" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />

    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <!--misfireThreshold默认6000-->
    <add key="quartz.jobStore.misfireThreshold" value="1" />

    <!--job initialization plugin handles our xml reading, without it defaults are used-->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />

    <!--内存Job,默认,可以不配置-->
    <!--<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />-->

    <!--数据库存储Job-->
    <!--<add key="quartz.jobStore.useProperties" value="true" />
    <add key="quartz.jobStore.clustered" value="true" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.tablePrefix" value="OTC_" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <add key="quartz.jobStore.dataSource" value="myDS" />
    <add key="quartz.dataSource.myDS.connectionString" value="Data Source=localhost;Initial Catalog=Arrow_IOTC;User ID=sa;Password=Zaq12wsx" />
    <add key="quartz.dataSource.myDS.provider" value="SqlServer-20" />-->

    <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
    <add key="quartz.scheduler.exporter.port" value="5555" />
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
    <add key="quartz.scheduler.exporter.channelType" value="tcp" />
    <add key="quartz.scheduler.exporter.channelName" value="httpQuartz" />
  </quartz>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime enableVersionHeader="false" maxRequestLength="524288000" executionTimeout="3600000" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/HttpError">
      <error redirect="~/Error/404.html" statusCode="404" />
      <error redirect="~/Error/404.html" statusCode="403" />
      <error redirect="~/Error/404.html" statusCode="400" />
    </customErrors>
    <sessionState timeout="60" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <appSettings>
    <add key="AppVersion" value="1.0.1.0" />
    <add key="WorkEnv" value="[Dev]" />
    <add key="IsMail" value="true" />
    <add key="IsWF" value="false" />
    <add key="IsDev" value="true" />
    <add key="IsDraftMail" value="true" />
    <!--开启Quartz 任务-->
    <add key="StartQuartz" value="false" />
    <add key="ClientId" value="358145595498-1odj75ja10ujagebt3rsv743l8v4cbd2.apps.googleusercontent.com" />
    <add key="ClientSecret" value="3KOejS7VXso4cOxcgfhrGnNZ" />
    <add key="GenerateSOAPath" value="~/Outputs/SOA/" />
    <add key="ArchiveSOAPath" value="C:\SOAExcel\" />
    <add key="MailAttachmentPath" value="C:\ArchiveMailAttachment\" />
    <add key="ArchiveMailAttachmentPath" value="C:\ArchiveMailAttachment\" />
    <add key="TemplateSOAPath" value="~/Template/SOA Sample for Arrow  Non VAT CN 0.7.xlsx" />
    <add key="TemplateSOAPathVAT" value="~/Template/SOA Sample for Arrow   VAT CN 0.7.xlsx" />
    <add key="TemplateSOAPath-Streamline" value="~/Template/SOA Sample for Arrow  Non VAT CN 0.7(Streamline).xlsx" />
    <add key="TemplateSOAPathVAT-Streamline" value="~/Template/SOA Sample for Arrow   VAT CN 0.7(Streamline).xlsx" />
    <add key="ArchiveDownloadPath" value="~/Outputs/Aging/" />
    <add key="TemplateDownloadPath" value="~/Template/DownLoad-template.xlsx" />
    <add key="TemplateDailyReportPath" value="~/Template/Report-template.xlsx" />
    <add key="CustomerStatisticReportTemplate" value="~/Template/CustomerStatisticReportTemplate.xlsx" />
    <add key="CollectorStatisticReportTemplate" value="~/Template/CollectorStatisticReportTemplate.xlsx" />
    <add key="DailyReportPath" value="~/Outputs/DailyReport/" />
    <add key="ArchiveAccountLevelPath" value="C:\ArchiveAccountFileSave" />
    <add key="ArchiveInvoiceLevelPath" value="C:\ArchiveInvoiceFileSave" />
    <add key="ArchiveInvoiceDetailPath" value="C:\ArchiveInvoiceDetailFileSave" />
    <add key="FtpClient" value="10.112.12.60" />
    <add key="FtpUser" value="Ek20nWzHgq7VT+ueKQs/AQ==" />
    <add key="FtpPassword" value="7BtLgK64oZhkzLDIeVQCvg==" />
    <add key="FtpPendingFolder" value="/accenture/araging/" />
    <add key="FtpPendingCustLocalizeFolder" value="/accenture/" />
    <add key="FtpPendingInvoiceFolder" value="/accenture/invoice/" />
    <add key="FtpPendingVatFolder" value="/accenture/vat/" />
    <add key="FtpCustLocalizeName" value="Customer_Localize_APAC.xlsx" />
    <add key="FtpInvoiceDetailName" value="accenture_invoice.csv" />
    <add key="FtpVatName" value="vat_invoice.csv" />
    <add key="ArchiveVATPath" value="C:\ArchiveVATFileSave" />
    <add key="ArchiveCurrencyTWPath" value="C:\ArchiveCurrencyTWFileSave" />
    <add key="ArchiveCurrencyATMPath" value="C:\ArchiveCurrencyATMFileSave" />
    <add key="ArchiveInvoiceDetailPath" value="C:\ArchiveInvoiceDetailFileSave" />
    <add key="ArchiveOneYearSalesPath" value="C:\ArchiveOneYearSalesFileSave" />
    <add key="ArchiveMailPath" value="C:\ArchiveMailFileSave" />
    <add key="ArchiveSentMailPath" value="C:\ArchiveSentMailFileSave" />
    <add key="PaymentDateCirclePath" value="C:\ArchivePaymentDateCircleFileSave" />
    <add key="CustPathName" value="~/Outputs/ExportMasterData/" />
    <add key="CustCommentPathName" value="~/Outputs/ExportMasterDataComment/" />
    <add key="MasterDataTemplate" value="~/Template/MasterDataExport.xlsx" />
    <add key="MasterDataCommentTemplate" value="~/Template/MasterDataCommentExport.xlsx" />
    <add key="MasterDataCommentSalesTemplate" value="~/Template/CommentsFromSalesExport.xlsx" />
    <add key="ImportMasterData" value="C:\ImportMasterData" />
    <add key="ImportCustCommentSales" value="C:\ImportCustCommentSales" />
    <add key="BankStatementPath" value="C:\CashApplicationFile\BankStatementFileSave" />
    <add key="RemittancePath" value="C:\CashApplicationFile\BankStatementFileSave" />
    <add key="BankArchivePath" value="C:\CashApplicationFile\BankArchiveFileSave" />
    <add key="pmtPath" value="C:\CashApplicationFile\BankStatementFileSave" />

    <add key="ImportAccountPeriod" value="C:\ImportAccountPeriod" />
    <add key="ARDataFTPPath" value="C:\ARData" />
    <add key="ExportInvoiceTemplate" value="~/Template/ContactCustomerInvoiceExport.xlsx" />
    <add key="ExportAccountsTemplate" value="~/Template/AllAccountExport.xlsx" />
    <add key="ExportCustomerMappingTemplate" value="~/Template/CustomerMappingExport.xlsx" />
    <add key="ExportBankStatementTemplate" value="~/Template/BankStatementExport.xlsx" />
    <add key="ExportPmtDetailTemplate" value="~/Template/PmtDetailExport.xlsx" />
    <add key="ExportForwarderListTemplate" value="~/Template/ForwarderListExport.xlsx" />
    <add key="ExportReconTemplate" value="~/Template/ReconExport.xlsx" />
    <add key="ExportCustomerAttributeTemplate" value="~/Template/CustomerAttributeExport.xlsx" />
    <add key="ExportStatusReportTemplate" value="~/Template/StatusReportExport.xlsx" />
    <add key="ExportPostClearResultTemplate" value="~/Template/PostClearResultExport.xlsx" />
    <add key="ExportBsReportTemplate" value="~/Template/BSReportExport.xlsx" />
    <add key="ExportBsReportPath" value="~/Outputs/ExportBSReport/" />
    
    <add key="ARAgingBasePath" value="~/ddd/" />
    <add key="WorkflowEndPoint" value="http://10.254.154.142/OTC/Workflow/api/Workflow/" />
    <!--<add key="MailserviceEndPoint" value="http://localhost:64689/"/>-->
    <add key="MailserviceEndPoint" value="http://localhost:6234/api/services/app/mailService/" />
    <!--<add key="MailserviceEndPoint" value="https://10.254.154.142/Arrow_UAT/Mail/api/services/app/mailService/" />-->
    <add key="Xccelerator" value="http://localhost:2097/" />
    <add key="ArchiveSentMailPath" value="D:\OTC_Archives\ArchiveSentMailFileSave" />
    <add key="ExportInvoiceTemplate" value="~/Template/ContactCustomerInvoiceExport.xlsx" />
    <add key="ExportAccountsTemplate" value="~/Template/AllAccountExport.xlsx" />
    
    
    <add key="CleanDataServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/CleanData/" />
    <add key="IdentifyCustomerServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/IdentifyCustomer/" />
    <add key="UnknownCashAdvisorServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5001/UnknownCashAdvisor/" />
    <add key="ReconServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/Recon/" />
    <add key="AutoIdentifyCustomerServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/AutoIdentifyCustomer/" />
    <add key="PaymentDetailReconServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/PaymentDetailRecon/" />
    <add key="AutoReconServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/AutoRecon/" />
    <add key="PaymentDetailReconServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/PaymentDetailRecon/" />    
    <add key="SplitReconServiceUrl" value="https://hksstpaap07p.ap.corp.arrow.com:5000/SplitRecon/" />  
    
   
    <add key="TemplateCAPost" value="~/Template/PostTemplete.xlsx" />
    <add key="TemplateCAClear" value="~/Template/ClearTemplete.xlsx" />
    <add key="TemplateCAPostClear" value="~/Template/PostClearTemplete.xlsx" />
    <add key="TemplateReconAr" value="~/Template/ReconArTemplete.xlsx" />
   
   <add key="OTC" value="http://localhost:55209/#" />
   <!--<add key="ReceiveMailServiceUrl" value="http://localhost:6234/api/services/app/mailService/ReceiveMail" />-->
   <add key="ReceiveMailServiceUrl" value="https://10.254.154.142/Arrow_UAT/Mail/api/services/app/mailService/ReceiveMail" />
 
    <add key="ReceiveMailRequestTimeout" value="600000" />
    <add key="IsEnableGroupMail" value="true" />
    <add key="GroupMailAddress" value="chinasoa.ap@arrowasia.com" />
    <add key="DefaultLanguageCode" value="002" />
    <add key="AgingReportTemplate" value="~/Template/ARReport.xlsx" />
    <add key="DisputeReportTemplate" value="~/Template/DisputeReport.xlsx" />
    <add key="OverdueportTemplate" value="~/Template/OverDueReport.xlsx" />
    <add key="AgingReportPath" value="~/Outputs/ExportAgingData/" />
    <add key="DisputeReportPath" value="~/Outputs/ExportDisputeData/" />
    <add key="OverdueportPath" value="~/Outputs/ExportOverdueData/" />
    <add key="ARMasterTemplate" value="~/Template/ARMasterExport.xlsx" />
    <add key="ExportTaskTemplate" value="~/Template/TaskExport.xlsx" />
    <add key="ExportTaskPMTTemplate" value="~/Template/TaskPMTExport.xlsx" />
    <add key="ExportTaskPTPTemplate" value="~/Template/TaskPTPExport.xlsx" />
    <add key="ExportSoaDateTemplate" value="~/Template/SoaDateExport.xlsx" />
    <add key="ImportVarData" value="C:\ImportVarData" />
    <add key="ImportMasterPaymentData" value="C:\ImportMasterPaymentData" />
    <add key="ARMasterPath" value="~/Outputs/ExportARMaster/" />
    <add key="BatchDeal" value="Arrow" />
    <add key="VATStatusPath" value="C:\VATStatusFileSave" />
    <add key="ImportCustLocalize" value="C:\ImportCustLocalize" />
    <add key="ImportCreditHold" value="C:\ImportCreditHold" />
    <add key="ImportCurrencyAmount" value="C:\ImportCurrencyAmount" />
    <add key="ImportConsigmentNumber" value="C:\ImportConsigmentNumber" />
    <add key="SouceTempSql" value="~/Template/SourceSql.txt" />
    <add key="NewAgingReportTemplate" value="~/Template/ARReportNew.xlsx" />
    <add key="DailyAgingReportTemplate" value="~/Template/DailyAgingReport.xlsx" />
    <add key="NewAgingReportPath" value="~/Outputs/ExportAgingData/" />
    <add key="DailyAgingReportPath" value="~/Outputs/ExportDailyAgingData/" />
    <add key="DSOFilePath" value="C:\DSOFileSave" />
    <add key="DSOReportTemplate" value="~/Template/DSO Report.xlsx" />
    <add key="DSOReportPath" value="~/Outputs/ExportDsoData/" />
    <add key="TemplateSOACNWave1" value="~/Template/SOA_CN_WAV.xlsx" />
    <add key="TemplateSOACNWave2" value="~/Template/SOA_CN_WAV.xlsx" />
    <add key="TemplateSOACNWave3" value="~/Template/SOA_CN_WAV.xlsx" />
    <add key="TemplateSOACNPMT" value="~/Template/SOA_CN_PMT.xlsx" />
    <add key="TemplateSOASAPWave1" value="~/Template/SOA_SAP_WAV.xlsx" />
    <add key="TemplateSOASAPWave2" value="~/Template/SOA_SAP_WAV.xlsx" />
    <add key="TemplateSOASAPWave3" value="~/Template/SOA_SAP_WAV.xlsx" />
    <add key="TemplateSOASAPPMT" value="~/Template/SOA_SAP_PMT.xlsx" />
    <add key="TemplateSOATWWave1" value="~/Template/SOA_TW_WAV.xlsx" />
    <add key="TemplateSOATWWave2" value="~/Template/SOA_TW_WAV.xlsx" />
    <add key="TemplateSOATWWave3" value="~/Template/SOA_TW_WAV.xlsx" />
    <add key="TemplateSOATWPMT" value="~/Template/SOA_TW_PMT.xlsx" />
    <add key="TemplateSOAATWSZWave1" value="~/Template/SOA_ATMSZ_WAV.xlsx" />
    <add key="TemplateSOAATWSZWave2" value="~/Template/SOA_ATMSZ_WAV.xlsx" />
    <add key="TemplateSOAATWSZWave3" value="~/Template/SOA_ATMSZ_WAV.xlsx" />
    <add key="TemplateSOAATWSZPMT" value="~/Template/SOA_ATMSZ_PMT.xlsx" />
    <add key="TemplateSOAKRWave1" value="~/Template/SOA_KR_WAV.xlsx" />
    <add key="TemplateSOAKRWave2" value="~/Template/SOA_KR_WAV.xlsx" />
    <add key="TemplateSOAKRWave3" value="~/Template/SOA_KR_WAV.xlsx" />
    <add key="TemplateSOAKRPMT" value="~/Template/SOA_KR_PMT.xlsx" />
    <add key="TemplateSOAAseanAddColumnWave1" value="~/Template/SOA_ASEANAddColumn_WAV.xlsx" />
    <add key="TemplateSOAAseanAddColumnWave2" value="~/Template/SOA_ASEANAddColumn_WAV.xlsx" />
    <add key="TemplateSOAAseanAddColumnWave3" value="~/Template/SOA_ASEANAddColumn_WAV.xlsx" />
    <add key="TemplateSOAAseanAddColumnWave4" value="~/Template/SOA_ASEANAddColumn_WAV.xlsx" />
    <add key="TemplateSOAAseanAddColumnPMT" value="~/Template/SOA_ASEANAddColumn_PMT.xlsx" />
    <add key="TemplateSOAASEANWave1" value="~/Template/SOA_ASEAN_WAV.xlsx" />
    <add key="TemplateSOAASEANWave2" value="~/Template/SOA_ASEAN_WAV.xlsx" />
    <add key="TemplateSOAASEANWave3" value="~/Template/SOA_ASEAN_WAV.xlsx" />
    <add key="TemplateSOAASEANWave4" value="~/Template/SOA_ASEAN_WAV.xlsx" />
    <add key="TemplateSOAAseanDaily" value="~/Template/SOA_ASEAN_WAV.xlsx" />
    <add key="TemplateSOAASEANPMT" value="~/Template/SOA_ASEAN_PMT.xlsx" />
    <add key="TemplateSOAHKWave1" value="~/Template/SOA_HK_WAV.xlsx" />
    <add key="TemplateSOAHKWave2" value="~/Template/SOA_HK_WAV.xlsx" />
    <add key="TemplateSOAHKWave3" value="~/Template/SOA_HK_WAV.xlsx" />
    <add key="TemplateSOAHK296Wave1" value="~/Template/SOA_HK_WAV(296).xlsx" />
    <add key="TemplateSOAHK296Wave2" value="~/Template/SOA_HK_WAV(296).xlsx" />
    <add key="TemplateSOAHK296Wave3" value="~/Template/SOA_HK_WAV(296).xlsx" />
    <add key="TemplateSOAHKPMT" value="~/Template/SOA_HK_PMT.xlsx" />

    <add key="TemplateSOAAUWave1" value="~/Template/SOA_AU_WAV.xlsx" />
    <add key="TemplateSOAAUWave2" value="~/Template/SOA_AU_WAV.xlsx" />
    <add key="TemplateSOAAUWave3" value="~/Template/SOA_AU_WAV.xlsx" />
    <add key="TemplateSOAAUPMT" value="~/Template/SOA_AU_PMT.xlsx" />
    <add key="TemplateSOANZWave1" value="~/Template/SOA_NZ_WAV.xlsx" />
    <add key="TemplateSOANZWave2" value="~/Template/SOA_NZ_WAV.xlsx" />
    <add key="TemplateSOANZWave3" value="~/Template/SOA_NZ_WAV.xlsx" />
    <add key="TemplateSOANZPMT" value="~/Template/SOA_NZ_PMT.xlsx" />

    <add key="TemplateCAPMT" value="~/Template/CAPMTDetail.xlsx" />
    <add key="TemplateCAPMT-CN" value="~/Template/CAPMTDetail-CN.xlsx" />
    <add key="TemplateCAPMT-CN-Clear" value="~/Template/CAPMTDetail-CN-Clear.xlsx" />
    <add key="TemplateCABatchChangeInc" value="~/Template/Batch Change INC.xlsx" />
    <add key="TemplateSendPMTReminding" value="~/Template/SendPMTReminding.xlsx" />
    <add key="TemplateSendSOAReminding" value="~/Template/SendSOAReminding.xlsx" />
    <add key="TemplateNoCsSalesReminding" value="~/Template/NoCsSalesReminding.xlsx" />
    <add key="TemplateNewCustomerReminding" value="~/Template/NewCustomerReminding.xlsx" />
    <add key="ExportCashApplicationCountResultTemplate" value="~/Template/CashApplicationCountResult.xlsx" />
    <add key="ExportCadaliyTemplate" value="~/Template/CadaliyResult.xlsx" />
    <add key="TemplateEBSetting" value="~/Template/EBSetting.xlsx" />
    <add key="FilterSkipe" value="http://localhost:55209/api/caTaskController/cacallback" />
    <add key="OTCSUB" value="" />
    <add key="AESKey" value="www.accenture.com.arrow.20171122" />
    <add key="OTC_Password" value="bocd3bUaO3MbG3zLb+s6QQ==" />
    <add key="Workflow_Password" value="bocd3bUaO3MbG3zLb+s6QQ==" />
    <add key="Xccelerator_Password" value="bocd3bUaO3MbG3zLb+s6QQ==" />
  </appSettings>
  <connectionStrings>
    <add name="OTCEntities" connectionString="metadata=res://*/DataModel.OTCEntities.csdl|res://*/DataModel.OTCEntities.ssdl|res://*/DataModel.OTCEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Arrow_IOTC;persist security info=True;user id=sa;password={0};multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkflowEntities" connectionString="metadata=res://*/DataModel.WorkflowEntities.csdl|res://*/DataModel.WorkflowEntities.ssdl|res://*/DataModel.WorkflowEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Arrow_IOTC_WorkflowV20;persist security info=True;user id=sa;password={0};multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XcceleratorEntities" connectionString="metadata=res://*/DataModel.XcceleratorEntities.csdl|res://*/DataModel.XcceleratorEntities.ssdl|res://*/DataModel.XcceleratorEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Arrow_IOTC_Xccelerator;user id=sa;password={0};multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OTCDB" providerName="System.Data.SqlClient" connectionString="data source=localhost;initial catalog=Arrow_IOTC;persist security info=True;user id=sa;password={0};" />
    <add name="MailAdvisorInterface" providerName="System.Data.SqlClient" connectionString="data source=localhost;initial catalog=Arrow_IOTC_Interface;persist security info=True;user id=sa;password={0};" />
  </connectionStrings> 
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDEVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add verb="*" path="*.csv" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="csv" />
      <add verb="*" path="*.txt" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="txt" />
      <add verb="*" path="*.rar" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="rar" />
      <add verb="*" path="*.zip" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="zip" />
      <add verb="*" path="*.xls" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="xls" />
      <add verb="*" path="*.xlsx" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="xlsx" />
      <add verb="*" path="*.doc" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="doc" />
      <add verb="*" path="*.docx" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="docx" />
      <add verb="*" path="*.pdf" type="Intelligent.OTC.WebApi.Core.FileDownloadHandler, Intelligent.OTC.WebApi" name="pdf" />
    </handlers>
  </system.webServer>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    </parsers>
    <context>
      <resource uri="~/Configuration/Spring.Services.xml" />
      <resource uri="~/Configuration/Spring.Repositories.xml" />
    </context>
  </spring>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1" newVersion="4.5.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
