
<div class="form-group col-md-12" style="text-align:center;">
    <div style="text-align:center; width:100%">
        <!--<table align="center">
        <tr>
            <td>-->
        <div id="followUp" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('FollowUp')">
            <div style="text-align:center">
                <img id="taskimg" src="{{followupimg }}" />
            </div>
            <div style="color:{{followupcolor}}">
                Follow Up
            </div>
        </div>
        <div id="task" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('Task')" >
            <div style="text-align:center">
                <img id="soaimg" src="{{taskimg}}" />
            </div>
            <div style="color:{{taskimg}}">
                Task
            </div>
        </div>
        <!--<div id="disputetracking" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('disputetracking')">
            <div style="text-align:center">
                <img id="disputetrackingimg" src="{{disputetrackingimg}}" />
            </div>
            <div style="color:{{disputetrackingcolor}}">
                Dispute({{workflownum4}})
            </div>
        </div>-->
        <div id="mailbox" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('mail')">
            <div style="text-align:center">
                <img id="mailimg" ng-src="{{mailimg}}" />
            </div>
            <div style="color:{{mailcolor}}">
                Mail Box({{workflownum7}})
            </div>
        </div>
        <!--<div id="contactcustomer" style="float:left; margin:auto; cursor:pointer; width:12%;" ng-click="toPage('contactcustomer')">
        <div style="text-align:center">
            <img id="contactcustomerimg" ng-src="{{contactcustomerimg}}" />
        </div>
        <div style="color:{{contactcustomercolor}}">
            Contact Customer({{workflownum2}})
        </div>
    </div>-->
        <!--<div id="dunningreminder" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('dunning')">
        <div style="text-align:center">
            <img id="dunningreminderimg" src="{{dunningreminderimg}}" />
        </div>
        <div style="color:{{dunningremindercolor}}">
           Dispute(74)({{workflownum3}})
        </div>
    </div>-->
        <div id="ca" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('ca')">
            <div style="text-align:center">
                <img id="caimg" ng-src="{{caimg}}" />
            </div>
            <div style="color:{{cacolor}}">
                All Inovoices
            </div>
        </div>
        <!--<div id="breakptp" style="float:left; margin:auto; cursor:pointer; width:100%;" ng-click="toPage('breakptp')">
        <div style="text-align:center">
            <img id="breakptpimg" src="{{breakptpimg}}" />
        </div>
        <div style="color:{{breakptpcolor}}">
            2nd Dunning({{workflownum5}})
        </div>
    </div>-->
        <!--<div id="holdcustomer" style="float:left; cursor:pointer; width:100%;" ng-click="toPage('holdcustomer')">
        <div style="text-align:center">
            <img id="holdcustomerimg" src="{{holdcustomerimg}}" />
        </div>
        <div style="color:{{holdcustomercolor}}">
            All Invoices({{workflownum6}})
        </div>
    </div>-->
        <!--<div id="holdcustomer" style="float:left; cursor:pointer; width:100%;" ng-click="toPage('holdcustomer')">
        <div style="text-align:center">
            <img id="holdcustomerimg" src="{{holdcustomerimg}}" />
        </div>
        <div style="color:{{holdcustomercolor}}">
            2nd Dispute({{workflownum6}})
        </div>
    </div>
    <div id="holdcustomer" style="float:left; cursor:pointer; width:100%;" ng-click="toPage('holdcustomer')">
        <div style="text-align:center">
            <img id="holdcustomerimg" src="{{holdcustomerimg}}" />
        </div>
        <div style="color:{{holdcustomercolor}}">
            Round Table({{workflownum6}})
        </div>
    </div>-->
        <!--</td>
        </tr>
    </table>-->
    </div>
</div>